
.title{
    font-size: 35px;
    font-weight: bold;
    align-items: center;
    font-family: arial;
}
.divstyle{
    margin: auto;
    border-radius: .5em;
    padding: 3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    box-shadow: 0.5em 0.5em 1.5em #0a0a0f, -0.5em -0.5em 1.5em #323232;
    transition:ease-out 300ms;
    width: 450px;
}
body{
    background-color: #031a25;
}
button{
    margin: auto;
    border-radius: 20px;
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
    background-color: transparent;
    color: wheat;
    background-color: teal;
    border-color: transparent;
}
p{
    font-size: 1em;
    font-family: sans-serif;
    color:mintcream;
}
ul{
    background-color: transparent;
    list-style-type: disc;
    transition: ease-in 400em;
}
.divparagraph{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  li{
      font-size: 1em;
      color: white;
      font-family: sans-serif;
  }